.main {
    margin-left: 120px;
    margin-right: 120px;
}
#postBarButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
} 

.likeButton {
    background-color: rgb(144, 165, 235);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
}

textarea {
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
}

.text {
	color: #0c0c0c;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
    font-family: 'Orienta', sans-serif;
    margin-top: 5px;
}

.user {
    color: #000000;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
}

.designation {
	color: #ffffff;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(221, 221, 221);
    transition: 0.3s;
    padding: 15px 32px;
    margin-top: 25px; 
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 
.commentsButton {
    background-color: rgb(144, 165, 235); /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;    
}

.comment {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    padding: 15px 32px;
    margin-top: 10px; 
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    
}

 hr {
    color: #635d5d;
 }
  /* Style the image inside the centered container, if needed */